


#gradient
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.aqua{
  color: #00ffff;
  font-family: 'Fredericka the Great', cursive;
  position: absolute;
  align-content: center;
  text-shadow: #fff;
  opacity: .8;
  padding: 3%;
  /*background-blend-mode: exclusion;*/

}

.distinguish{
  z-index: 3;
}
li:hover {
  background-color: #F89B4D;
}
.pagebar{
  color: black;
}
.pop{
  z-index: 2;
}
.upfont{
  font-size: 7;
}
