


#gradient
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.aqua{
  color: #00ffff;
  font-family: 'Fredericka the Great', cursive;
  position: absolute;
  align-content: right;
  text-shadow: #fff;
  opacity: .7;
  padding: 3%;
  /*background-blend-mode: exclusion;*/

}
.Fredericka{
  font-family: 'Fredericka the Great', cursive;

}
.distinguish{
  z-index: 3;
}
li:hover {
  background-color: #ffffcc;
}
.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.pagebar{
  color: black;
}
.pop{
  z-index: 2;
}
.upfont{
  font-size: 7;
}
